.body{
    width: 100%;
    height: 100%;
}

.perfil{
    display: flex;
}

.Row{
    width: 50%;
    align-items: center;
    justify-content: start;
}

.imgPerfil{
    width: 100%;
}

.col-md-4{
    width: 100%;
    text-align: center;
}

.container2{
    margin-top: 20px;
}

.tabela{
    margin-top: 20px;
    width: 100%;
    background-color: cadetblue;
    display: flex;
}

.tabela p{
    font-size: 20px;
}

.p2{
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}